$blue: #3278ae;
$dark-blue: #426c90;
$darker-blue: #2b455c;
$dark-grey: #2e2e2e;
$grey: #c5c5c5;
$light-grey: #e5e5e5;
$lighter-grey: #f0f0f0;
$white: #ffffff;

$breakpoint-md: 768px;
$breakpoint-sm: 600px;

$section-padding-double: 48px 0;
$section-padding: 24px 0;
